<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>$http</title>
  <link rel="stylesheet" href="../../public/libs/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="myController" class="container">
<h2 class="page-header">$http的使用</h2>

<blockquote>
  <p>姓名：<ins ng-bind="users[0].name"></ins></p>
</blockquote>
<blockquote>
  <p>年龄：<ins ng-bind="users[0].age"></ins></p>
</blockquote>

<table class="table table-hover">
  <tr>
    <th>姓名</th>
    <th>年龄</th>
  </tr>
  <tr ng-repeat="user in users">
    <td ng-bind="user.name"></td>
    <td ng-bind="user.age"></td>
  </tr>
</table>

<h2 class="page-header">创建一个表单，测试post方法传参</h2>
<form class="form-horizontal" ng-submit="submit()">
  <div class="form-group">
    <label class="control-label col-xs-2">姓名：</label>
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-model="username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">年龄：</label>
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-model="age">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-5 col-xs-offset-2">
      <input type="submit" class="btn btn-default">
    </div>
  </div>
</form>

<h2 class="page-header">缓存</h2>
<button ng-click="getUsers()" class="btn btn-default">获取缓存列表</button>
<script src="../../node_modules/angular/angular.js"></script>
<script src="js/http.js"></script>
</body>
</html>
