extends layout

block content
  h1= 更新用户信息
  form(method="post" action="/users/update")
    input(type="hidden" value="#{user._id}" name="_id")
    input(type="text" value="#{user.username}" name="username")
    input(type="number" value="#{user.age}" name="age")
    input(type="submit" value="更新")


